EXT_CLIENT_ID=<MY_CLIENT_ID>
EXT_SECRET=<MY_CLIENT_SECRET>
EXT_OWNER_ID=<MY_OWNER_ID>
TWITCH_LOGIN_URL = https://id.twitch.tv
TWITCH_API_URL = https://api.twitch.tv
TWITCH_WSS_URL = wss://pubsub-edge.twitch.tv